* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    text-align: left;
}

header {
    background-color: Red;
    display: block;
    padding: 30px 10px;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}

header .header-right nav ul {
    display: flex;
    align-items: center;
}

header .header-right nav ul li a {
    color: white;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

main {
    grid-area: main;
    background-color: transparent;
    grid-template-rows: 100% 100% 100%;
}
main section div p {
    text-align:right;
}
img {
    object-fit: cover;
    inline-size: 100%;
    border-radius: 40px;
}

#jumbotron {
    background-image: url(/assets/img/Portada2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 40px;
    display: flex;
}

#blog {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*aqui se dividio en 3 fracciones*/
    padding: 20px;
    gap: 20px;
}

#blog article {
    width: 200px;
    height: 200px;
    background-color: transparent;
    margin: 0 auto;
}

#adicionales {
    background-color: blue;
    height: 300px;
}

Footer {
    grid-area: footer;
    background-color: darkcyan;
    height: 100px;
}

@media screen and (max-width: 420px) {
    #blog {
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

    #blog article {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 420px) {
    header .header-right {
        display:flex;
         }
    header {
        background-color: red;
    }
}

