h1 {
    color:red;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas: "header header header"
                         "Main Main Main"
                         "Footer Footer Footer";
}
header {
  grid-area: header;  
}
main {
  grid-area: main;  
}
Footer{
    grid-area: footer;
}