* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas:
        "header header header"
        "Main Main Main"
        "Main Main Main"
        "Main Main Main"
        "Footer Footer Footer";
        min-height:100vh;
}

Header {
    grid-area: header;
    background-color: blue;
    height: 100vh;
}

main {
    grid-area: main;
    background-color: yellow;
    grid-template-rows: 100% 100% 100%;
}

Footer {
    grid-area: footer;
    background-color: green;
}